{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Create new Evenement</h1>
<div class="card">
    <div class="card-body">

    {{ include('default/evenement/_form.html.twig') }}

    <a href="{{ path('evenements') }}">back to list</a>
    </div>
</div>
{% endblock %}
