{% extends 'layout.html.twig' %}


{% block body %}
<h1>Passer une reservation</h1>
<div class="card">
    <div class="card-body">

        {{ include('reservation/_form.html.twig') }}

        <a href="{{ path('reservation_indexA') }}">Liste des reservations</a>

    </div>
</div>


{% endblock %}