{% extends 'layout.html.twig' %}

{% block title %}Modifier une activité{% endblock %}

{% block body %}
    <h1>Modifier une activité</h1>
<div class="card">
    <div class="card-body">

    {{ include('activite/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('activite_index') }}">retour</a>
    </div>
</div>
{% endblock %}
